.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.form-wrapper {
  width: 700px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container h1 {
  margin-bottom: 20px;
  text-align: center;
}

.form-container label {
  font-weight: bold;
}

.form-container input,
.form-container textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.form-container input:focus,
.form-container textarea:focus {
  outline: none;
  border-color: #007bff;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container button {
  padding: 10px 20px;
  background-color: #080808;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #fafafe;
  color: rgb(18, 16, 16);
}

